# CLOUDFLARE ENV VARIABLES
# Get API Token: https://dash.cloudflare.com/profile/api-tokens
CLOUDFLARE_API_TOKEN=

# Get D1 Database ID: https://dash.cloudflare.com/?to=/:account/workers/d1
CLOUDFLARE_DATABASE_ID=

# Find Account ID: https://developers.cloudflare.com/fundamentals/account/find-account-and-zone-ids/
CLOUDFLARE_ACCOUNT_ID=


# JWT SECRET
# Generate with: openssl rand -base64 32
JWT_SECRET=


# BREVO SMTP API KEY
# API Keys: https://app.brevo.com/settings/keys/api
BREVO_SMTP_API_KEY=

# Sender settings: https://app.brevo.com/senders
BREVO_SENDER_NAME=
BREVO_SENDER_EMAIL=

# SMTP credentials: https://app.brevo.com/settings/keys/smtp


# TEST CREDS - RAZORPAY
# Get Test API Keys: https://dashboard.razorpay.com/app/keys
RAZORPAY_KEY_ID=
RAZORPAY_SECRET_KEY=
